<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"> </head>

<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <p th:text="${errorMsg}" style="color:red;"></p>

    <form method="post" action="/events/create">
        <div class="form-group">
            <label>Name
                <input class="form-control" th:field="${event.name}">
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>

        <div class="form-group">
            <label>Description
                <textarea class="form-control" th:field="${event.eventDetails.description}"></textarea>
            </label>
            <p class="error" th:errors="${event.eventDetails.description}"></p>
        </div>

        <div class="form-group">
            <label> Zipcode
                <input class="form-control" th:field="${event.eventDetails.zipcode}">
            </label>
                <p class="error" th:errors="${event.eventDetails.zipcode}"></p>
        </div>

        <div class="form-group">
            <label> Contact Email
                <input class="form-control" th:field="${event.eventDetails.contactEmail}">
            </label>
                <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
        </div>

        <div class="form-group">
            <p>RSVP</p>
            <p class="error" th:errors="${event.eventDetails.isRSVPRequired}"></p>
            <label> Yes
                <input type="radio" class="form-control" th:field="${event.eventDetails.isRSVPRequired}" value="true">
            </label>
            <label> No
                <input type="radio" class="form-control" th:field="${event.eventDetails.isRSVPRequired}" value="false">
            </label>
        </div>

        <div class="form-group">
            <label> Number of Guests
                <input type="number" class="form-control" th:field="${event.eventDetails.attendees}">
            </label>
                <p class="error" th:errors="${event.eventDetails.attendees}"></p>
        </div>

        <div class="form-group">
            <label> Type
                <select th:field="${event.eventCategory}">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </label>
                <p class="error" th:errors="${event.eventCategory}"></p>
        </div>

        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Create Event">
        </div>
    </form>

</body>
</html>