<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"> </head>

<body class="container">
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${categories} and ${categories.size()}">No events</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tr th:each="category: ${categories}">
            <td th:text="${category.name}"></td>
        </tr>
    </table>

</body>
</html>